@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.burger {
  /* Wspólne ustawienia dla obu stanów ikonki */
  &::before,
  &::after {
    content: '';

    display: inline-block;

    /* Wymiary Mobile */
    width: 18px;
    height: 12px;

    background-size: cover;

    /* Wymiary Tablet i Desktop (są takie same, więc wystarczy jedna reguła) */
    @include for-tablet {
      width: 24px;
      height: 16px;
    }
  }

  /* Ikonka domyślna */
  &::before {
    background-image: url('../images/photos/burger.svg');
  }

  /* Ikonka po najechaniu (domyślnie ukryta) */
  &::after {
    display: none;
    background-image: url('../images/photos/burger-hover.svg');
  }

  /* Efekt Hover - zamiana ikon */
  &:hover {
    &::before {
      display: none;
    }

    &::after {
      display: inline-block;
    }
  }

  /* Ukryty tekst dla czytników ekranowych */
  &__label {
    @include visually-hidden;
  }
}
