@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.button {
  cursor: pointer;

  display: flex;
  grid-column: span 2;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  /* Wymiary */
  height: 56px;
  margin-top: 40px;
  border: 3px solid transparent;
  border-radius: 40px;

  /* Typografia */
  font-family: Inter, sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  text-decoration: none;

  background-color: $c-font;

  @include for-tablet {
    grid-column: 2 / 6;
    margin-top: 64px;
  }

  @include for-desktop {
    grid-column: 5 / 9;
  }

  &:hover {
    border-color: $c-font;
    color: $c-font;
    background-color: white;
  }

  &:active {
    border-color: #111;
    color: white;
    background-color: #111;
  }

  &--primary {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
  }
}
