@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.container {
  display: block;

  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include for-tablet {
    @include grid;
  }

  &__section {
    display: block;
    width: 100%;

    @include for-tablet {
      grid-column: 1 / 7;
    }

    @include for-desktop {
      grid-column: 1 / 13;
    }
  }
}
