@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.links {
  &__list {
    padding-top: 16px;
    padding-left: 20px;
    list-style: none;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    border-bottom: solid 1px transparent;

    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: $c-font;
    text-align: left;
    text-decoration: none;
    letter-spacing: 2px;

    &:hover {
      padding-bottom: 4px;
      border-bottom: solid 1px $c-font;
    }
  }

  &__paragraph {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__phone {
    &:hover {
      color: darkred;
    }
  }
}
