@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  box-sizing: border-box;
  width: 100%;

  @include for-tablet {
    margin-top: 24px;
  }

  &__item {
    position: relative;
    width: 100%;
    margin-top: 48px;
    padding-top: 100%;

    @include for-tablet {
      margin-top: 0;
      padding-top: 184px;
    }

    @include for-desktop {
      padding-top: 324px;
    }

    &--big {
      @include for-tablet {
        width: calc(66.67% - 10px);
      }
    }

    &--small {
      @include for-tablet {
        width: calc(33.33% - 10px);
      }
    }

    &--distance {
      margin-top: 40px;

      @include for-tablet {
        margin-top: 0;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    @include for-desktop {
      transition: transform 0.2s;

      &:hover {
        cursor: pointer;
        z-index: 1;
        transform: scale(1.06);
      }
    }
  }
}
