@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  box-sizing: border-box;
  width: 100%;

  &__recommend {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include for-tablet {
      width: calc(50% - 10px);
    }

    @include for-desktop {
      width: calc((100% - 40px) / 3);
      transition: transform 0.2s;

      &:hover {
        cursor: pointer;
        transform: scale(1.06);
      }
    }
  }

  &__paragraph {
    @include paragraph;

    &:last-child {
      margin-bottom: 0;
    }

    &--bold {
      margin-bottom: 12px;
      font-weight: 400;
    }

    &--space {
      letter-spacing: 0.12px;

      @include for-tablet {
        letter-spacing: 0;
      }
    }
  }

  &__photo {
    width: 100%;
    height: auto;
    margin-top: 12px;
    margin-bottom: 32px;

    object-fit: cover;

    @include for-tablet {
      aspect-ratio: 1 / 1;
      max-width: 392px;
    }

    @include for-desktop {
      max-width: 324px;
    }

    &--smart-speaker {
      margin-top: 48px;

      @include for-desktop {
        margin-top: 12px;
      }
    }
  }
}
