@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.section {
  padding-top: 64px;

  @include for-tablet {
    padding-top: 88px;

    &:first-child {
      padding-top: 120px;
    }
  }

  &--distance {
    margin-top: 12px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @include for-tablet {
      flex-direction: row;
      gap: 24px;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__title {
    width: 100%;

    @include for-tablet {
      width: 41.66%;
      margin-bottom: 0;
    }
  }

  &__article {
    width: 100%;

    @include for-tablet {
      width: 41.66%;
      margin-top: 0;
      margin-left: auto;
    }
  }
}
