@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.section {
  padding-top: 64px;

  @include for-tablet {
    padding-top: 88px;

    &:first-child {
      padding-top: 120px;
    }
  }

  &--distance {
    margin-top: 12px;
  }

  &__content {
    display: flex;
    flex-direction: column; /* Mobile: jeden pod drugim */
    gap: 20px;

    width: 100%;

    @include for-desktop {
      flex-direction: row; /* Desktop: obok siebie */
      align-items: flex-start;
    }
  }

  &__title {
    width: 100%; /* Mobile: pełna szerokość */

    @include for-desktop {
      width: 41.66%; /* Odpowiednik 5 kolumn */
    }
  }

  &__article {
    width: 100%; /* Mobile: pełna szerokość */

    @include for-desktop {
      width: 41.66%; /* Odpowiednik 5 kolumn */
      margin-left: auto; /* Przesuwa na prawo (odpowiednik pustej kolumny) */
    }
  }
}
