@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-top: 0;
  margin-bottom: 0;

  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 800;
  font-style: italic;
  line-height: 32px;
  color: $c-font;
  text-align: left;
  letter-spacing: -1.5px;

  @include for-tablet {
    font-size: 40px;
    line-height: 40px;
  }

  @include for-desktop {
    font-size: 48px;
    line-height: 48px;
  }

  &--secondary {
    position: relative;
    z-index: 1;

    justify-content: center;

    font-weight: 700;
    font-style: normal;
    text-align: center;
  }

  &--left {
    justify-content: flex-start;
    text-align: left;
  }
}
