@use 'utils' as *;
@use 'fonts' as *;
@use 'typography' as *;
@use 'blocks/header';
@use 'blocks/navigation';
@use 'blocks/title';
@use 'blocks/container';
@use 'blocks/product';
@use 'blocks/articles';
@use 'blocks/button';
@use 'blocks/address';
@use 'blocks/form';
@use 'blocks/footer';
@use 'blocks/menu';
@use 'blocks/links';
@use 'blocks/section';
@use 'blocks/pictures';
@use 'blocks/contact';
@use 'blocks/burger';
@use 'blocks/phone';
@use 'blocks/split';
@use 'blocks/buttons';
@use './utils/reset' as *;

.page__body--no-scroll {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
}
